# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset
data/*.csv

# Trained models
models/*.pkl
models/*.h5
models/*.pt
models/**/*.pkl
models/**/*.h5
models/**/*.pt

# Outputs
outputs/*.png
outputs/*.jpg
outputs/*.sqlite3

# VS Code
.vscode/
frontend/node_modules/
frontend/dist/
frontend/.vite/
models/.pyg_cache/

# OS files
.DS_Store
Thumbs.db
